:root {
    --cor-primaria: #bd4343;
    --cor-secundaria: #cf6b4d;    
    --cor-branca: #fff;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-cinza-escuro: #0e0c0c;
    --cor-fundo-cinza-claro: #0f0f0f;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }